@import "tailwindcss";

/* :target {
  animation: anchor-in 500ms ease-out;
}

@keyframes anchor-in {
  from { transform: translateY(12px); opacity: 0.001; }
  to   { transform: translateY(0);     opacity: 1;     }
} */